
@{
    ViewBag.Title = "Books";
}

@section style
{
    @Styles.Render("~/Content/DataTables")
}

<h2>@ViewBag.Title</h2>

<div class="row mb-3" style="text-align: right" id="createBlock">
    <div class="col-xs-12">
        <button class="btn btn-primary" onclick="BookModal.Initialize(0)">Create book</button>
    </div>
</div>

@Html.Partial("_BookTable")

<div id="bookModalContainer"></div>

@section scripts
{
    @Scripts.Render("~/Scripts/Knockout")
    @Scripts.Render("~/Content/DataTable/datatables.min.js")
    @Scripts.Render("~/Scripts/Book/book-table.js")
    @Scripts.Render("~/Scripts/Book/book-modal.js")
    @Scripts.Render("~/Scripts/Author/author-modal.js")

    
    <script>
            $(document).ready(function () {
                BookTable.booksListUrl = '@Url.Action("GetBooksList", "Book")'; // todo: use action + entity/entities
                BookTable.deleteBookUrl = '@Url.Action("Delete", "Book")';
                BookTable.Initialize();

                BookModal.getBookBaseUrl = '@Url.Action("GetBook", "Book")'; // todo: why base?
                BookModal.saveBookBaseUrl = '@Url.Action("Save", "Book")';
                BookModal.loadBookModalUrl = '@Url.Action("BookModal", "Book")';

                AuthorModal.targetTable = BookTable;
                AuthorModal.getAuthorBaseUrl = '@Url.Action("Get", "Author")';
                AuthorModal.saveAuthorBaseUrl = '@Url.Action("Save", "Author")';
                AuthorModal.getAuthorModalUrl = '@Url.Action("AuthorModal", "Author")';
            });
    </script>
}
