
@{
    ViewBag.Title = "Books";
}

@section style
{
    @Styles.Render("~/Content/DataTables")
}

<h2>@ViewBag.Title</h2>

<div class="row mb-3" style="text-align: right" id="createBlock">
    <div class="col-xs-12">
        <button class="btn btn-primary" onclick="BookModal.Initialize(0)">Create book</button>
    </div>
</div>

@Html.Partial("_BookTable")

<div id="bookModalContainer">

</div>

@Html.Partial("~/Views/Author/_AuthorModal.cshtml")

@section scripts
{
    @Scripts.Render("~/Scripts/Knockout")
    @Scripts.Render("~/Content/DataTable/datatables.min.js")
    @Scripts.Render("~/Scripts/Book/book-table.js")
    @Scripts.Render("~/Scripts/Book/book-modal.js")
    @Scripts.Render("~/Scripts/Author/author-modal.js")

    
    <script>
        $(document).ready(function() {
            @Html.Partial("Initializer/_BookTabeInitializer")
            @Html.Partial("Initializer/_BookModalInitializer")
            @Html.Partial("Initializer/_AuthorModalInitializer", new string[] { "false", "false", "BookTable"})
        });
    </script>
}
