
@{
    ViewBag.Title = "Books";
}

@section style
{
    @Styles.Render("~/Content/DataTables")
}

<h2>@ViewBag.Title</h2>

<div class="row mb-3" style="text-align: right" id="createBlock">
    <div class="col-xs-12">
        <button class="btn btn-primary" data-bind="event : { click: BookModal.onCreate } ">Create book</button>
    </div>
</div>

@Html.Partial("_BookTable")
@Html.Partial("_BookModal")

@section scripts
{
    @Scripts.Render("~/Scripts/Knockout")
    @Scripts.Render("~/Scripts/datatables.min.js")
    @Scripts.Render("~/Scripts/Book/book-table.js")
    @Scripts.Render("~/Scripts/Book/book-modal.js")

    <script>
        $(document).ready(function () {
            const bookModalSettings = {
                getBookUrl: '@Url.Action("GetBook", "Book")',
                saveBookUrl: '@Url.Action("Save", "Book")',
                showAfterInit: false
            }
            BookTable.Initialize();
            BookModal.Initialize(null, bookModalSettings);
        });
    </script>
}
