
@{
    ViewBag.Title = "Books";
}

@section style
{
    @Styles.Render("~/Content/DataTables")
}

<h2>@ViewBag.Title</h2>

<div class="row mb-3" style="text-align: right" id="createBlock">
    <div class="col-xs-12">
        <button class="btn btn-primary" onclick="BookModal.Initialize(0)">Create book</button>
    </div>
</div>

@Html.Partial("_BookTable")

<div id="bookModalContainer">

</div>

@Html.Partial("~/Views/Author/_AuthorModal.cshtml")

@section scripts
{
    @Scripts.Render("~/Scripts/Knockout")
    @Scripts.Render("~/Content/DataTable/datatables.min.js")
    @Scripts.Render("~/Scripts/Book/book-table.js")
    @Scripts.Render("~/Scripts/Book/book-modal.js")
    @Scripts.Render("~/Scripts/Author/author-modal.js")

    <script>
        $(document).ready(function () {
            var authorModalSettings = {
                getAuthorUrl: '@Url.Action("Get", "Author")',
                saveAuthorUrl: '@Url.Action("Save", "Author")',
                showAfterInit: false,
                withCreate: false,
                TargetTable: BookTable
            };
            
            BookModal.getBookBaseUrl = '@Url.Action("GetBook", "Book")';
            BookModal.saveBookBaseUrl = '@Url.Action("Save", "Book")';
            BookModal.loadBookModalUrl = '@Url.Action("BookModal", "Book")';

            BookTable.Initialize();
            BookModal.Initialize(null, false);
            AuthorModal.Initialize(null, authorModalSettings);
        });
    </script>
}
