<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style")
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary navbar-fixed-top">
        @Html.ActionLink("Book Catalog", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Books", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Authors", "Index", "Author", new { area = "" }, new { @class = "navbar-brand" })
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content mt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script>
        window.rootUrl = "@Url.Content("~/")";
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
