
@{
    ViewBag.Title = "Authors";
}

@section style
{
    @Styles.Render("~/Content/DataTables")
}

<h2>@ViewBag.Title</h2>

<div class="row mb-3" style="text-align: right" id="createBlock">
    <div class="col-xs-12">
        <button class="btn btn-primary" onclick="AuthorModal.Initialize(0)">Create Author</button>
    </div>
</div>

<div id="authorModalContainer"></div>

@Html.Partial("_AuthorTable")

@section scripts
{
    @Scripts.Render("~/Scripts/Knockout")
    @Scripts.Render("~/Content/DataTable/datatables.min.js")
    @Scripts.Render("~/Scripts/Author/author-table.js")
    @Scripts.Render("~/Scripts/Author/author-modal.js")

    <script>
        $(document).ready(function () {
            @Html.Partial("Initializer/_AuthorTableInitializer")

            @Html.Partial("Initializer/_AuthorModalInitializer", "AuthorTable")
        });
    </script>
}